// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import "bootstrap-sprockets";
@import "bootstrap";

i.contact{
	color:red;
	font-size: 1em;
	font-weight: 300;
}

.action-clear{
	clear:both;
	margin-top:1em;
}

p.post-body{
	/*float:left;*/
	padding-right:.5em;
}

.post-image>img{
	margin-left:1em;
	margin-top: 1em;

}

.shareable{
	margin-left: -40px;
}
.link-post{
	clear:left;
}
.shareable li{
	list-style-type:none;
	float: left;
	margin-right: 5px;
	font-size:.65em;
}

.col-xs-12>img{
	width: 100%;
	
}
.col-md-12>p>span>small>ul{
	list-style-type:none;
}
.post-border {
	margin-top: 1.5em;
	background-color: #F2F2E4 !important;
	border-radius: 1em !important;
	margin-left: 1em;
	margin-right: 1em;
	padding:2em;
	clear:both;
	p, h1, h2{
	padding-left: .25em;
	padding-right: .25em;
	}
}

.clear{
	clear:both;
	margin-top:1em;
}

.error-message>h4{
	color:red !important;
}


@media screen and (max-width:768px){

	.post-header h1{
		font-size: 1.5em;
		padding-left:2em;
		font-family:Raleway, sans-serif;
	}

	.post-show-header h2{
		font-size: 1.25em;
		padding-left:2em;
		font-family:Raleway, sans-serif;
	}

	.post-content p{
		margin-top:1em;
		clear:both;
	}
}